/* add your CSS here */
html {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.card {
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 8px solid dimgrey;
  box-shadow: 5px 5px lightgrey;
  background-image: url('textured-background.jpg');
  background-position: center;
}

.dog-image {
  width: 300px;
  padding: 0.5rem 0rem;
}

.interesting {
  font-style: italic;
}

.text-box {
  width: 296px;
  border: 2px solid white;
}

.text-content {
  padding: 0.5rem;
  font-size: 15px;
}

.label {
  font-weight: bold;
}

ul {
  padding: 0rem;
  list-style-type: none;
}
